{% extends 'padre.html' %}


{% block ContenidoQueCambia %}

    <h3>{{celular.nombre}} {{celular.serie}}</h3>
    <p>Pantalla {{celular.pantalla}}"</p>
    <p>Cámara de {{celular.camara}}MP</p>
    <h5>{{celular.memoria}}GB</h5>
    <h4>Precio :${{celular.precio}}</h4>
    <div>
        {% if celular.imagenCelular %}
            <p class="text-center"><img src="{{celular.imagenCelular.url}}" alt="{{object.nombre}}" title="{{object.nombre}} {{object.serie}}" width="400px" height="100%"></p>
        {% endif %}
    </div>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

{% endblock ContenidoQueCambia %}